// Sizes
// -------------------- 

$mainContent: 1080px;
$width: 95%;

// Website Colors
// --------------------

$almostBlack: #222;
$mainColor: #E8766F;
$secondColor: #7EC4CA;
$thirdColor: #F2C672;
$grey: #4C4C4C;
$white: white;

// Color Usage
// ------------

$backgroundcolor: $white;
$text: $almostBlack;
$linkcolor: $white;
$hovercolor: $mainColor;


// Fonts
// -----
$bodyFont: 'Montserrat', sans-serif;
$headingFont: 'Kaushan Script', cursive;


// Borders
// -------
$border: 1px solid black;
