// Sizes
// -------------------- 

$mainContent: 1080px;
$width: 95%;
// $primary-width: 75%;
// $secondary-width: 25%;


// Website Colors
// --------------------

$almostBlack: #222;
$mainColor: black;
$white: white;

// Color Usage
// ------------

$backgroundcolor: $white;
$text: $almostBlack;
$linkcolor: $mainColor;
$hovercolor: $mainColor;


// Fonts
// -----
$bodyFont: 'Open Sans', sans-serif;
$headingFont: $bodyFont;


// Borders
// -------
$border: 1px solid black;
