footer {
	background: $grey;
	padding: 3rem 0;
	.footer--sections {
		@extend .flexParent;
		justify-content: space-between;
		align-items: center;
		@include bp(tiny) {
			flex-direction: column;
		}
	}
	section p {
		color: $white;
		margin: 0.3em 0;
		text-align: center;
	}
	a {
		transition: 0.5s;
		display: block;
		&:hover {
			color: $mainColor;
		}
	}
	.footer--section2 {
		a {
			text-decoration: underline;
		}
	}
	.footer--section3 span {
		display: inline-block;
		width: 140px;
		@include bp(little) {
			width: 115px;
		}
	}
	@include bp(tiny) {
		.footer--section3 {
			padding: 10% 0;
		}
	}
}
